[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log

# Basic Settings
default-storage-engine = innodb
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
log-error = /var/log/mysql/error.log

# Connection Settings
bind-address = 0.0.0.0
port = 3306
max_connections = 151
connect_timeout = 60
wait_timeout = 28800

# Memory Settings
key_buffer_size = 32M
max_allowed_packet = 16M
thread_stack = 256K
thread_cache_size = 8
query_cache_limit = 8M
query_cache_size = 64M

# InnoDB Settings
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_file_per_table = 1
innodb_open_files = 400
innodb_io_capacity = 400
innodb_flush_method = O_DIRECT

# Character Set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4